[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = {extras = ["async"], version = "*"}
zstd = "*"
ipython = "*"
zstandard = "*"
jsonlines = "*"
tqdm = "*"
ujson = "*"
tokenizers = "*"
more-itertools = "*"
mypy = "*"
build = "*"
wheel = "*"
lm-dataformat = {file = "https://github.com/flowpoint/lm_dataformat/releases/download/0.0.19/lm_dataformat-0.0.19-py3-none-any.whl"}
elasticsearch-dsl = "*"

[dev-packages]

[requires]
python_version = "3.9"
